
@{
    ViewBag.Title = "Details of Category";
}

<h2>Details of '@Html.Display("CategoryName")' </h2>
<hr />
<div class="container">
    <p><b>Category Name: </b>@Html.Display("CategoryName")</p>
</div>
<div>
    <h1>Products List under this category</h1>
    @foreach (var item in Model)
            {
                <p>@item.Name</p>
            }
</div>

<div class="container">
    <a class="btn btn-warning" asp-action="Index">Back To List</a>
</div>